#media-section {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 2.5fr;
  grid-template-areas:
    "facebook image"
    "instagram image"
    "youtube image";
  align-items: left;
  justify-items: center;
  height: 30vw;
  margin-left: 5vw;
  margin-top: 5vw;
  margin-bottom: 5vw;
}
#media-section>#facebookLogo {
  grid-area: facebook;
  height: 5.5vw;
}
#media-section>#instagramLogo {
  grid-area: instagram;
  height: 5.5vw;
}
#media-section>#youtubeLogo {
  grid-area: youtube;
  height: 5.5vw;
}
#facebookLogo>h2 {
  text-align: left;
  justify-text: left;
  padding-left: 18.5vw;

}
#instagramLogo>h2 {
  text-align: left;
  justify-text: left;
  padding-left: 19vw;

}
#youtubeLogo>h2 {
  text-align: left;
  justify-text: left;
  padding-left: 17.5vw;
}
#facebookLogo>h3 {
  text-align: left;
  justify-text: left;
  padding-left: 17.9vw;
  padding-top: 3vw;

}
#instagramLogo>h3 {
  text-align: left;
  justify-text: left;
  padding-left: 15.4vw;
  padding-top: 3vw;

}
#youtubeLogo>h3 {
  text-align: left;
  justify-text: left;
  padding-left: 17.9vw;
  padding-top: 3vw;
}
#media-section>#social-image {
  grid-area: image;
  background: linear-gradient(rgba(154,154,154,0.25), rgba(154,154,154,0.25)), url("../../public/images/gallery/year2018/NWOScienceFair2018/0preview-image.png");
  background-size: cover;
  width: 60%;
  height: 85%;
  justify-self: end;
  margin-right: 12.5vw;
  align-self: end;
  margin-bottom: 4.25vw;

  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 30px 0 rgba(0, 0, 0, 0.4);
}
