#about-team-paragraph-section {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1 2.5;
  grid-template-areas:
    "paragraph para"
    "image para";
  margin-left: 5vw;
  margin-top:0vw;
  justify-items: start;
  z-index: 2;
  height: auto;
  margin-right: 5vw;

}

#about-team-paragraph-section>#right-paragraph{
  grid-area: paragraph;
  padding-right: 2.5vw;
  margin-top: 2.5vw;


}

#about-team-paragraph-section>#left-paragraph {
  grid-area: para;
  padding-left: 2.5vw;
  margin-top: 2.5vw;
  align-self: start;

}
#about-team-paragraph-section>#first-image {
  grid-area: image;
  background: linear-gradient(rgba(154,154,154,0.25), rgba(154,154,154,0.25)), url("../../public/images/team-image.jpg");
  background-size: cover;
  width: 95%;
  height: 80%;
  margin-bottom: 34vw;
  margin-right: 5vw;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 30px 0 rgba(0, 0, 0, 0.4);
}
