.footer {
  background-color: white;
  height: 20vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 18px;
  font-weight: 300;
}

.gray-footer {
  background-color: rgb(235,235,235);
}

.footer-trademark {
  flex-grow: 1;
  justify-self: flex-start;
  margin-left: 5vw;
}

.footer-contact {
  flex-grow: 1;
  text-align: right;
  margin-right: 5vw;
}
