.underlined-link {
  display: inline;
  text-decoration: none;

  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #FF0000;

  padding-bottom: 2px;
  border-bottom: 2px solid rgba(255,0,0,0.40);

  transition: all 0.5s ease;
}

.underlined-link:hover {
  color: black;
  border-bottom: 2px solid rgba(0,0,0,0.40);
}

.page-title-section {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  position: absolute;
  width: 100vw;
  left: 0;
  top: 25vh;
}

.page-title-section>.page-main-title {
  margin: inherit;
  /* Set white font color, big text size, and semibolded weight  */
  color: white;
  font-size: 11vw; /* 8% of the width of the screen */
  font-weight: 600; /* Semi-bold */
  margin-left: 5vw;

}
.page-title-section>.page-main-subtitle {
  margin: inherit;
  /* Set white font color, regular sized text, and light font weight */
  color: white;
  font-size: 3vw;
  font-weight: 350;
  margin-left: 2vw;
}
