html {
  /* Set global font family */
  font-family: "Source Sans Pro", sans-serif;
}

body {
  /* Get rid of auto browser margin and padding */
  margin: 0;
  padding: 0;
  /* Overflow hidden constrains all elements to be inside of the window */
  overflow-x: hidden;
}

.underlined-link {
  display: inline;
  text-decoration: none;

  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #FF0000;

  padding-bottom: 2px;
  border-bottom: 2px solid rgba(255,0,0,0.40);

  transition: all 0.5s ease;
}

.underlined-link:hover {
  color: black;
  border-bottom: 2px solid rgba(0,0,0,0.40);
}

.page-title-section {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  position: absolute;
  width: 100vw;
  left: 0;
  top: 25vh;
}

.page-title-section>.page-main-title {
  margin: inherit;
  /* Set white font color, big text size, and semibolded weight  */
  color: white;
  font-size: 11vw; /* 8% of the width of the screen */
  font-weight: 600; /* Semi-bold */
  margin-left: 5vw;

}
.page-title-section>.page-main-subtitle {
  margin: inherit;
  /* Set white font color, regular sized text, and light font weight */
  color: white;
  font-size: 3vw;
  font-weight: 350;
  margin-left: 2vw;
}

.page-subsection {
  background-color: rgb(235,235,235);
  height: 125vh;
}
.page {
  display: grid;
  grid-template-columns: 100vw;
  grid-auto-rows: auto;
  grid-auto-flow: row;
}

.page p {
  font-weight: 300;
  font-size: calc(12px + 1vw);
  line-height: 2.5;
}

.page h1 {
  font-weight: 600;
  font-size: 5vw;
  margin-top: 10vh;
}
.page-main-container {
  display: block;
  position: relative;
  overflow: hidden;
  height: 80vh;
}

.page-background-image {
  /* Set the background image with a 40% opacity gray overlay */
  /* Change the gray value and opacity depending on background image and visibilty of text */
  background-image: linear-gradient(rgba(152,152,152, 0.25), rgba(152,152,152, 0.25)), url("../../public/images/team-image.jpg");
  /* Only 1 copy of the background is used (don't tile) */
  background-repeat: no-repeat;
  /* Cover whole entire div */
  background-size: cover;
  /* Center the image in the div */
  background-position: center;

  /* Position the div to fit the whole screen */
  position: absolute;
  top: 0;
  left: 0;
  height: 55vh;
  width: 100%;

  /* Apply a blur to the image */
  /* Can change blur amount when working with different images */
  filter: blur(5px);
  transform: scale(1.1);
}
