#navbar {
  /* Set all text colour to white, align to center, and light font */
  color: white;
  text-align: center;
  font-weight: 300;
  font-size: calc(12px + 1vw);

  /* Set navbar height to 75px and 80% width and center */
  height: 30px;
  width: 100vw;
  padding-left: 5vw;
  padding-right: 5vw;

  /* Position navbar to the center */
  position: absolute;
  top: 0;
  padding-top: 2vh;
  padding-bottom: 2vh;
  left: 50%;
  overflow: visible;
  transform: translate(-50%, 0);
  z-index: 20;
  background-color: rgba(200,200,200,0.5);
  transition: all 0.5s ease;
}

.navbar-logo-image {
  /* Logo is the same height as navbar */
  height: inherit;
  text-align: center;
  /* Padding to right to offset the rest of the nav elements */
  
}
/* Navbar element with no dropdown*/
.navbar-element-no-dropdown {
  /* Same spacing for all nav elements */
  flex-grow: 1;
  /* Give all nav elements a margin */
  margin: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  display: none;
}
.navbar-element-current {
  color: #333333;
}

.navbar-element-current-dark {
  color: white;
}

.navbar-element-no-dropdown>a {
  /* Get rid of default underline */
  text-decoration: none;
  /* Inherit color fron navbar element */
  color: inherit;
  transition: color 0.5s ease;
}
.navbar-element-no-dropdown:hover>a {
  color: rgb(191,191,191);
}

/* Nav bar element with dropdown */
.navbar-element {
  /* Same spacing for all nav elements */
  flex-grow: 1;
  /* Give all nav elements a margin */
  margin: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
  position: relative;
  display: none;
}

.navbar-element:hover {
  background-color: rgba(200,200,200,0.8);
}

.navbar-element-dark:hover {
  background-color: rgba(80,80,80);
}

.navbar-element>.dropdown-title {
  /* Get rid of default underline */
  text-decoration: none;
  /* Inherit color fron navbar element */
  color: inherit;
  transition: color 0.5s ease;
}

.navbar-element>.dropdown-title-current {
  color: rgb(80,80,80);
}
.navbar-element-dark>.dropdown-title-current {
  color: rgb(200,200,200);
}

.navbar-dropdown-element-list {
  visibility: hidden;
  transform: scaleY(0.1) translateY(-100%);
  position: absolute;
  transition: all 0.5s ease;
  z-index: -1;

  list-style-type: none;
  margin-top: 0;
  text-align: center;
  padding-left: inherit;
  width: calc(100%);
  opacity: 0;
}
.navbar-element:hover>.navbar-dropdown-element-list {
  display: block;
  background-color: rgba(220,220,220,0.6);
  transform: scaleY(1) translateY(0);
  visibility: visible;
  opacity: 1;
}

.navbar-element-dark:hover>.navbar-dropdown-element-list {
  display: block;
  background-color: rgba(85,85,85);
  visibility: visible;
  opacity: 1;
  transform: scaleY(1) translateY(0);
}


.navbar-dropdown-element-list-item {
  transition: all 0.5s ease;
}
.navbar-dropdown-element-list-item:hover {
  color: rgba(80,80,80, 1.0);
}

.navbar-dropdown-element-list-item-dark:hover {
  color: rgba(200,200,200, 1.0);
}

@media only screen and (min-width: 600px) {
  #navbar {
    /* Flex display in a row - span whole width */
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-content: flex-end;
    height: 10vh;
  }
  .navbar-logo-image {
    margin-right: 80px;
    margin-left: 5vw;
  }

  .navbar-element-no-dropdown {
    display: block;
  }
  .navbar-element {
    display: block;
  }
  
}