.sub-navbar {
  /* Set all text colour to black, align to center, and light font */
  background-color: white;
  text-align: center;
  font-weight: 300;
  font-size: 5vw;

  /* Flex display in a row - span whole width */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* Set position of subnavbar */
  position: absolute;
  top: 40vh;
  left: 0;
  height: 10vh;
  width: 100vw;
}

.sub-navbar-element {
  /* Same spacing for all nav elements */
  flex-grow: 1;
  transition: all 0.5s ease;
  cursor: pointer;
}

.sub-navbar-element-selected {
  color: rgb(191,191,191);
}


.sub-navbar-element>a {
  /* Get rid of default underline */
  text-decoration: none;
  /* Inherit color fron navbar element */
  color: inherit;
}

.sub-navbar-element:hover {
  color: rgb(191,191,191);
}

.sub-navbar-element-selected:hover {
  color: rgb(191,191,191);
}

@media only screen and (min-width: 600px) {
  .sub-navbar {
    font-size: 2.5vw;
    height: 15vh;
    top: 55vh;
  }
}

@media only screen and (min-width: 960px) {
  .sub-navbar {
    font-size: 2.5vw;
    height: 25vh;
    top: 55vh;
  }
}
