.sub-navbar {
  /* Set all text colour to black, align to center, and light font */
  color: black;
  background-color: white;
  text-align: center;
  font-weight: 300;
  font-size: 30px;

  /* Flex display in a row - span whole width */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  /* Set position of subnavbar */
  position: absolute;
  top: 55vh;
  left: 0;
  height: 25vh;
  width: 100vw;
}

.sub-navbar-element {
  /* Same spacing for all nav elements */
  flex-grow: 1;
  transition: all 0.5s ease;
  cursor: pointer;
}

.sub-navbar-element-selected {
  color: rgb(191,191,191);
}


.sub-navbar-element>a {
  /* Get rid of default underline */
  text-decoration: none;
  /* Inherit color fron navbar element */
  color: inherit;
}

.sub-navbar-element:hover {
  color: rgb(191,191,191);
}

.sub-navbar-element-selected:hover {
  color: rgb(191,191,191);
}
