#about-team-paragraph-section {
  display: grid;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "link image";
  margin-left: 5vw;
  margin-top:25vw;
  justify-items: start;
  z-index: 2;
}
