html {
  /* Set global font family */
  font-family: "Source Sans Pro", sans-serif;
}

body {
  /* Get rid of auto browser margin and padding */
  margin: 0;
  padding: 0;
  /* Overflow hidden constrains all elements to be inside of the window */
  overflow-x: hidden;
}

.home-page {
  display: grid;
  grid-template-columns: 100vw;
  grid-auto-rows: auto;
  grid-auto-flow: row;
}

.home-page p {
  font-weight: 300;
  font-size: calc(12px + 1vw);
  line-height: 2.5;
}

.home-page h1 {
  font-weight: 600;
  font-size: 5vw;
  margin-top: 10vh;
}

.home-main-container {
  display: block;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.home-main-background-image {
  /* Set the background image with a 40% opacity gray overlay */
  /* Change the gray value and opacity depending on background image and visibilty of text */
  background-image: linear-gradient(rgba(152,152,152, 0.25), rgba(152,152,152, 0.25)), url("../public/images/main-image.jpg");
  /* Only 1 copy of the background is used (don't tile) */
  background-repeat: no-repeat;
  /* Cover whole entire div */
  background-size: cover;
  /* Center the image in the div */
  background-position: center;

  /* Position the div to fit the whole screen */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  /* Apply a blur to the image */
  /* Can change blur amount when working with different images */
  filter: blur(5px);
  transform: scale(1.1);
}

.home-subsection {
  margin-top: 5vh;
}

#home-main-title {
  /* Set white font color, big text size, and semibolded weight  */
  color: white;
  font-size: 8vw; /* 8% of the width of the screen */
  font-weight: 600; /* Semi-bold */

  /* Set position to be in the center and 25% from the top */
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}

#home-main-subtitle {
  /* Set white font color, regular sized text, and light font weight */
  color: white;
  font-size: 20px;
  font-weight: 300;

  /* Align text center*/
  text-align: center;
  line-height: 2;
  width: 60%;

  /* Set position to be in the center and 50% from the top */
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -18px);
}

#home-main-location {
  /* Set white font color, slightly large sized text, and light font weight */
  color: white;
  font-size: 32px;
  font-weight: 300;

  /* Align text center */
  text-align: center;
  width: 60%;

  /* Set position to be in the center and 75% from the top */
  position: absolute;
  left: 50%;
  top: 80%;
  transform: translate(-50%, -80%);
}

#home-about-section {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "title image"
    "paragraph image"
    "link image";
  margin-left: 5vw;
  justify-items: start;
  z-index: 2;
}

#home-about-section>h1 {
  grid-area: title;
}

#home-about-section>p {
  grid-area: paragraph;
  margin-top: -10px;
}
#home-about-section>.underlined-link {
  grid-area: link;
  justify-self: end;
}

#home-about-section>#home-about-image {
  grid-area: image;
  background: linear-gradient(rgba(154,154,154,0.25), rgba(154,154,154,0.25)), url("../public/images/main-image.jpg");
  background-position: left;
  background-size: cover;
  width: 75%;
  height: 90%;
  justify-self: end;
  margin-right: 5vw;
  align-self: end;

  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 30px 0 rgba(0, 0, 0, 0.4);
}

#home-outreach-section {
  z-index: 1;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "image title"
    "image paragraph"
    "image link";
  padding-right: 5vw;
  justify-items: end;
}

#home-outreach-section>h1 {
  grid-area: title;
}
#home-outreach-section>p {
  grid-area: paragraph;
  text-align: right;
  margin-top: -10px;
}
#home-outreach-section>.underlined-link {
  grid-area: link;
}
#home-outreach-section>#home-outreach-image {
  grid-area: image;
  background: linear-gradient(rgba(154,154,154,0.25), rgba(154,154,154,0.25)), url("../public/images/main-image.jpg");
  background-position: left;
  background-size: cover;
  width: 75%;
  height: 90%;
  justify-self: start;
  margin-left: 5vw;
  align-self: end;

  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 30px 0 rgba(0, 0, 0, 0.4);
}

/* Home Media section */
#home-media-section {
  position: relative;
  overflow: hidden;
  display: flex;
}

#home-media-background-image {
  /* Set the background image with a 40% opacity gray overlay */
  /* Change the gray value and opacity depending on background image and visibilty of text */
  background-image: linear-gradient(rgba(152,152,152, 0.25), rgba(152,152,152, 0.25)), url("../public/images/main-image.jpg");
  /* Only 1 copy of the background is used (don't tile) */
  background-repeat: no-repeat;
  /* Cover whole entire div */
  background-size: cover;
  /* Center the image in the div */
  background-position: center;
  display: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 25vh;
  transform: scale(1.1);

  filter: blur(5px);
}


#home-media-section>#home-media-row {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "title facebook insta youtube gallery"
    "title facebook insta youtube news";
  align-items: center;
  justify-items: center;
  position: absolute;
  top: 0;
  height: 25vh;
  left: 5vw;
  right: 0;
}

#home-media-row>h1 {
  color: white;
  grid-area: title;
  justify-self: start;
  margin: inherit;
}

#home-media-row img {
  height: 35%;
}

#home-media-row #facebookLogo {
  grid-area: facebook;
}
#home-media-row #instagramLogo {
  grid-area: insta;
}
#home-media-row #youtubeLogo {
  grid-area: youtube;
}
#home-media-row>#galleryLink {
  align-self: end;
  margin-bottom: 15px;
  grid-area: gallery;
}
#home-media-row>#newsLink {
  grid-area: news;
  align-self: start;
  margin: top: 15px;
}
.custom-underlined-link {
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 18px;
  border-bottom: 2px solid rgba(255,255,255,0.4);
  transition: all 0.5s ease;
  justify-self: center;
  text-align: center;
}
.custom-underlined-link:hover {
  color: black;
  border-bottom: 2px solid rgba(0,0,0,0.4);
}

#home-sponsors-section {
  margin-bottom: 5vh;
}

#home-sponsors-section>.underlined-link {
  float: right;
  margin-right: 5vw;
}
#home-sponsors-section>h1 {
  margin: 0 auto;
  text-align: center;
}
#home-sponsors-section>#home-sponsor-images-container {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#home-sponsors-section img {
  width: 40%;
  height: 40%;
}
